.box {
    background-color: #FFC0CB;
    border: 2px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.box-content {
    padding-left: 3vh;
    padding-right: 3vh;
    text-align: left;
    justify-content: space-evenly;
    gap: 1rem;

    /* This lets inner content scroll 
    overflow-y: hidden;*/
}