.parent {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
    width: 90vw;

    gap: 2rem;
}

#homeBtn {
    background-color: #FFC0CB;
    width: 17vw;
    height: 10vh;
}

#home {
    position: relative;
    left: -5vw;
    top: 2vh;
}

.list {
    position: relative;
    width: 180vw;
    background-color: #FFC0CB;
    border-radius: 12px;
    padding: 16px;
    box-sizing: border-box;
    top: 2%;
    left: 5vw;
}

#removeBtn {

    width: 14vw;
    height: 8vh;
}

#remove {
    position: relative;
    left: 17vw;
    top: 2vh;
}

#items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 0;
    list-style: none;
    margin: 0;
}

#items>li {
    padding-left: 0;
    margin-left: 0;
}

.itemHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#list ul.itemDetails {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 3rem;
    color: #fff;
    font-size: 0.95rem;
    text-align: left;
}

#addBox {
    /*width: 32vh;
    height: auto;*/
    /*position: absolute;*/
    right: 15px;
    top: 10%;
    flex-shrink: 0;
    box-sizing: border-box;
}

#box-container {
    flex: 1;
    position: relative;
    height: 100%;
    right: 2.3vw;
    top: 19.5vh;
    box-sizing: border-box;
}

.addBtn {
    background-color: #FFC0CB;
}


@media (max-width:900px) {
    /* .parent {
        flex-direction: column;
    }
*/
    /*
    #list.part,
    #box-container.part {
        flex: 1 1 100%;
        max-width: 100%;
    }*/
}